/testimg.bmp
/testimg.jpg
/testimg.ppm
/testimgp.jpg
/testorig.jpg
/testprog.jpg
/missing
/rdjpgcom.1
/structure.txt
/usage.txt
/wizard.txt
/Makefile.am
/Makefile.in
/libjpeg.txt
/ltmain.sh
/makcjpeg.st
/makdjpeg.st
/makeadsw.vc6
/makeasln.v10
/makecdep.vc6
/makecdsp.vc6
/makecfil.v10
/makecmak.vc6
/makecvcx.v10
/makeddep.vc6
/makeddsp.vc6
/makedfil.v10
/makedmak.vc6
/makedvcx.v10
/makefile.ansi
/makefile.b32
/makefile.bcc
/makefile.dj
/makefile.manx
/makefile.mc6
/makefile.mms
/makefile.sas
/makefile.unix
/makefile.vc
/makefile.vms
/makefile.wat
/makejdep.vc6
/makejdsp.vc6
/makejdsw.vc6
/makejfil.v10
/makejmak.vc6
/makejsln.v10
/makejvcx.v10
/makeproj.mac
/makerdep.vc6
/makerdsp.vc6
/makerfil.v10
/makermak.vc6
/makervcx.v10
/maketdep.vc6
/maketdsp.vc6
/maketfil.v10
/maketmak.vc6
/maketvcx.v10
/makewdep.vc6
/makewdsp.vc6
/makewfil.v10
/makewmak.vc6
/makewvcx.v10
/aclocal.m4
/ar-lib
/cjpeg.1
/coderules.txt
/config.guess
/config.sub
/configure
/configure.ac
/depcomp
/djpeg.1
/filelist.txt
/install-sh
/install.txt
/jconfig.bcc
/jconfig.cfg
/jconfig.dj
/jconfig.mac
/jconfig.manx
/jconfig.mc6
/jconfig.sas
/jconfig.st
/jconfig.txt
/jconfig.vc
/jconfig.vms
/jconfig.wat
/libjpeg.map
/makljpeg.st
/maktjpeg.st
/makvms.opt
/wrjpgcom.1
*.asm
