scripts
tests
utilities
m4
www
images
config
PerlMagick
/ImageMagick.spec.in
/Install-mac.txt
/Install-unix.txt
/Install-vms.txt
/Install-windows.txt
/Magickshr.opt
/Makefile.am
/Makefile.in
/NEWS.txt
/NOTICE
/Platforms.txt
/QuickStart.txt
/README.txt
/aclocal.m4
/common.shi.in
/configure
/configure.ac
/index.html
/magick.sh.in
/version.sh
/winpath.sh
